n8n_workflow/game_master_hackathon_fhl.json
{
  "name": "game-master-hackathon-fhl",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un Dungeon Master.\nTu trabajo es dar una creativa bienvenida y pedirle al usuario entrante su identificador de jugador. El identificador es su email.\n\nIf, and only if, infomartion is fulfill, return a simple json object as {\"userID\": _userID_}.\n\nDO NOT reply in any code.",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1480,
        -80
      ],
      "id": "103b0cb2-04fe-4e06-beea-e9e2a93cf508",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1104,
        -80
      ],
      "id": "bd2eac66-2c64-46ef-ba0f-0eeaf30dd02a",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"userID\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -360,
        -160
      ],
      "id": "b32d7a38-e0e6-457d-8e15-26cc0240604d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -540,
        -360
      ],
      "id": "2c1679f7-10c2-4a1c-a75b-3dbab454f1c7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -1332,
        140
      ],
      "id": "518d3f0a-403b-42e4-b2f9-49963c511724",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11f96c00-c133-4f88-8c03-65aa1d5a731c",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "\"userID\":",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -728,
        -80
      ],
      "id": "b4d0dc37-56f5-4e79-b892-8992793388d6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2740,
        400
      ],
      "id": "22c232a6-6620-4b78-a776-e2039a77ab16",
      "name": "When chat message received",
      "webhookId": "86bd13d1-f460-4e73-8d55-4990c4d36fdf"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a repeater."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -508,
        120
      ],
      "id": "71d21ec9-b968-4f20-b7c0-7e9fd4e40648",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1452,
        140
      ],
      "id": "dbd5c488-d7f9-46c6-9418-fbdb5f27fd72",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        340
      ],
      "id": "c26af707-6fb3-45e8-8315-ec903ff392ef",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        -160
      ],
      "id": "404d7cbf-885c-4957-b2f0-75abf91a70a8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "filterByFormula": "={userID} = \"{{ $json.output.userID }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -160,
        -280
      ],
      "id": "46d4ed38-141b-469c-b043-17cc927ab649",
      "name": "Airtable",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "filterByFormula": "{loggedIn} = \"1\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2240,
        400
      ],
      "id": "8f97ce34-5be5-465c-b4bf-54f129a8ad9f",
      "name": "Airtable1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loggedIn": 1,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "MainMenu",
                  "value": "MainMenu"
                },
                {
                  "name": "CreatingChar",
                  "value": "CreatingChar"
                },
                {
                  "name": "Combat",
                  "value": "Combat"
                },
                {
                  "name": "Exploring",
                  "value": "Exploring"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        -380
      ],
      "id": "32031437-e058-4077-8690-71b3b2fad02d",
      "name": "Airtable2",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "850f0c4f-2d62-4b1e-9c98-d3bc080345a5",
              "leftValue": "={{ $json.loggedIn }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "ec9c7b7b-3c39-4f76-bce0-5019116c2bed",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1840,
        400
      ],
      "id": "ae59ea77-fef1-4a91-97be-2da54c54ab9f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b1824b2-598f-439c-8bc1-9850e5981d46",
              "leftValue": "={{ $json.fields.CharName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -240
      ],
      "id": "24b7fd47-7aba-4fb3-a1fe-4c18dcb7d069",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un Dungeon Master.\nTu trabajo es dar una creativa bienvenida y decirle que no tiene ningún personaje creado. Pídele un nombrede personaje,\n\nIf, and only if, infomartion is fulfill, return a simple json object as {\"CharName\": _CharName_}.\n\nDO NOT reply in any code.",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1420,
        880
      ],
      "id": "be51b3d3-cb04-4f77-ba51-8d900277ff13",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1080,
        900
      ],
      "id": "4a770ce6-26f7-40c0-9aa4-1649b95af621",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -1300,
        1120
      ],
      "id": "a80e831f-9dfd-46dd-8b56-af877b2156fd",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1420,
        1120
      ],
      "id": "b07dd142-9c22-4f08-abb7-e2722a935f44",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=repeat this sentence: {{ $('AI Agent1').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a repeater."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -480,
        1100
      ],
      "id": "fb276652-c370-45d4-89d4-40640d1be9d2",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        1320
      ],
      "id": "9cbd37cc-9ba0-479f-85e7-1c086af496a2",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11f96c00-c133-4f88-8c03-65aa1d5a731c",
              "leftValue": "={{ $('AI Agent1').item.json.output }}",
              "rightValue": "\"CharName\":",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        900
      ],
      "id": "511540c9-e848-4ee3-9af0-f457d8b863d5",
      "name": "If3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"CharName\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -340,
        820
      ],
      "id": "aa667df4-9fc7-4755-b547-2a9d27bb38be",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent1').item.json.output }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -480,
        620
      ],
      "id": "c4c65c54-fd1a-4014-ba63-b3677c2fd9d0",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -460,
        820
      ],
      "id": "92f1935d-92d8-4a69-b9ed-4ffc9e4908fc",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "GameState": "CreatingChar",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        500,
        320
      ],
      "id": "e2fdeec0-3d77-4de0-842b-90f2c5271c8b",
      "name": "Airtable3",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd75572-4990-4949-9fa7-752de13ad575",
              "leftValue": "={{ $json.GameState }}",
              "rightValue": "CreatingChar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1860,
        1260
      ],
      "id": "fe0b5d40-c31d-4f8d-9e43-9181cf5fe323",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable1').item.json.id }}",
            "CharName": "={{ $json.output.CharName }}",
            "Nivel": 1,
            "XP": 0,
            "HP_Actual": 0,
            "HP_Max": 0,
            "DES_DEF": 0,
            "DES_BON": 0,
            "CON_DEF": 0,
            "CON_BON": 0,
            "INT_BON": 0,
            "INT_DEF": 0,
            "SAB_DEF": 0,
            "SAB_BON": 0,
            "CAR_DEF": 0,
            "CAR_BON": 0,
            "FUE_BON": 0,
            "FUE_DEF": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        100,
        620
      ],
      "id": "3e99468d-f0fe-4b1c-821b-97de03dcf32f",
      "name": "Airtable4",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport random\n\ndef lanzar_1d8():\n  return random.randint(1,8)\n\ndef lanzar_3d6_hab():\n  t1=random.randint(1, 6)\n  t2=random.randint(1, 6)\n  t3=random.randint(1, 6)\n\n  bonus = min(t1,t2,t3)\n  \n  return bonus\n\nfor item in _input.all():\n  item.json.fields.HP_Actual = lanzar_1d8()\n  item.json.fields.HP_Max = item.json.fields.HP_Actual\n  \n  item.json.fields.FUE_BON = lanzar_3d6_hab()\n  item.json.fields.FUE_DEF = item.json.fields.FUE_BON + 10\n\n  item.json.fields.DES_BON = lanzar_3d6_hab()\n  item.json.fields.DES_DEF = item.json.fields.DES_BON + 10\n\n  item.json.fields.CON_BON = lanzar_3d6_hab()\n  item.json.fields.CON_DEF = item.json.fields.CON_BON + 10\n\n  item.json.fields.INT_BON = lanzar_3d6_hab()\n  item.json.fields.INT_DEF = item.json.fields.INT_BON + 10\n\n  item.json.fields.SAB_BON = lanzar_3d6_hab()\n  item.json.fields.SAB_DEF = item.json.fields.SAB_BON + 10\n\n  item.json.fields.CAR_BON = lanzar_3d6_hab()\n  item.json.fields.CAR_DEF = item.json.fields.CAR_BON + 10\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        620
      ],
      "id": "505dd3b5-5dd9-4bfe-ab29-d05e3a8910a5",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "UserID": "={{ $json.fields.UserID }}",
            "CharName": "={{ $json.fields.CharName }}",
            "FUE_DEF": "={{ $json.fields.FUE_DEF }}",
            "FUE_BON": "={{ $json.fields.FUE_BON }}",
            "DES_DEF": "={{ $json.fields.DES_DEF }}",
            "DES_BON": "={{ $json.fields.DES_BON }}",
            "CON_DEF": "={{ $json.fields.CON_DEF }}",
            "CON_BON": "={{ $json.fields.CON_BON }}",
            "INT_DEF": "={{ $json.fields.INT_DEF }}",
            "INT_BON": "={{ $json.fields.INT_BON }}",
            "SAB_DEF": "={{ $json.fields.SAB_DEF }}",
            "SAB_BON": "={{ $json.fields.SAB_BON }}",
            "CAR_DEF": "={{ $json.fields.CAR_DEF }}",
            "CAR_BON": "={{ $json.fields.CAR_BON }}",
            "XP": 0,
            "DefArmadura": 0,
            "BonArmadura": 0,
            "HP_Actual": "={{ $json.fields.HP_Actual }}",
            "HP_Max": "={{ $json.fields.HP_Max }}",
            "GameState": "Playing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        540,
        620
      ],
      "id": "09825a37-bca1-43a0-a9ec-e79ac4ee4376",
      "name": "Airtable5",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un Dungeon Master.\nEl jugador empieza a jugar con su personaje y le das una creativa bienvenida al mundo fantástico.  Ten en cuenta los valores de cada campo del json como su nombre (){{ $('Airtable1').item.json.CharName }} y sus habilidades en  ({{ $('Airtable1').item.json.FUE_DEF }} como Fuerza Defensa, {{ $('Airtable1').item.json.DES_DEF }} como Destreza, {{ $('Airtable1').item.json.CON_DEF }} como constitución, {{ $('Airtable1').item.json.INT_DEF }} como inteligencia, sabiduría como {{ $('Airtable1').item.json.SAB_DEF }}, carisma como {{ $('Airtable1').item.json.CAR_DEF }} y {{ $('Airtable1').item.json.HP_Actual }} como puntos de salud) para posibles combates.\n\nUsa la herramienta Dado20 para lanzar dados de 20 o 1d20\nDO NOT reply in any code.",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        860,
        1560
      ],
      "id": "5aa292e5-e92a-4510-a81f-9218d11139eb",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        960,
        1760
      ],
      "id": "f8a42e47-d0fe-40f5-8a5d-ba896edd6e3b",
      "name": "Window Buffer Memory2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        820,
        1760
      ],
      "id": "5a519096-a998-4a4c-968e-fbbbf5ecdf96",
      "name": "Google Gemini Chat Model8",
      "credentials": {
        "googlePalmApi": {
          "id": "yEgvDNr2sWZfsBXA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Este es el módulo de bienvenida al jugador",
        "height": 1040,
        "width": 2620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        -460
      ],
      "id": "bdb15893-d3fb-4723-8340-fce576342548",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Este es el módulo de creación del nuevo personaje",
        "height": 860,
        "width": 2620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        600
      ],
      "id": "ed038a94-9f37-4962-88bd-75e102c97dee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Este es el módulo de juego",
        "height": 420,
        "width": 3160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        1500
      ],
      "id": "eb736ac1-7feb-4283-b42a-e4dc5f750f78",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2460,
        -100
      ],
      "id": "2ddeeeaf-3ec4-4291-8fad-57983e70060b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2460,
        80
      ],
      "id": "fae010e1-d9f6-4869-bfd6-61eab07956db",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "name": "Dado20",
        "description": "Cada vez que necesites tirar un dado, usa esta herramienta",
        "language": "python",
        "pythonCode": "# Example: convert the incoming query to uppercase and return it\ndef lanzar_1d20():\n  return str(random.randint(1,20))"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1080,
        1740
      ],
      "id": "e1464928-5f51-4631-95da-d9b2aaba76a6",
      "name": "Dado20"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "filterByFormula": "{loggedIn} = \"1\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2240,
        80
      ],
      "id": "6143df6b-a176-4819-a2f9-ec1b78ef07bb",
      "name": "Airtable6",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loggedIn": 0,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -2080,
        80
      ],
      "id": "135d88e6-acf0-444b-912b-5a60131af947",
      "name": "Airtable7",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Logging Off por tiempo (1 hora) o manual. ",
        "height": 520,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2520,
        -260
      ],
      "id": "b9df46ad-b2a2-49b4-b897-8fd9869559f4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Comenzamos... comprobamos si hemos \"logeado\" en la aplicación ya",
        "height": 260,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2520,
        320
      ],
      "id": "7a7c31b5-701b-4ac0-8742-dc69d73c8c49",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appYws7MAa6yaUw8R",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R"
        },
        "table": {
          "__rl": true,
          "value": "tblWYUULhBYtSlmFU",
          "mode": "list",
          "cachedResultName": "Chars",
          "cachedResultUrl": "https://airtable.com/appYws7MAa6yaUw8R/tblWYUULhBYtSlmFU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loggedIn": 1,
            "UserID": "={{ $('Basic LLM Chain').item.json.output.userID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CharName",
              "displayName": "CharName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nivel",
              "displayName": "Nivel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "XP",
              "displayName": "XP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Actual",
              "displayName": "HP_Actual",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "HP_Max",
              "displayName": "HP_Max",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_DEF",
              "displayName": "FUE_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "FUE_BON",
              "displayName": "FUE_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_DEF",
              "displayName": "DES_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DES_BON",
              "displayName": "DES_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_DEF",
              "displayName": "CON_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CON_BON",
              "displayName": "CON_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_DEF",
              "displayName": "INT_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "INT_BON",
              "displayName": "INT_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_DEF",
              "displayName": "SAB_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SAB_BON",
              "displayName": "SAB_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_DEF",
              "displayName": "CAR_DEF",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CAR_BON",
              "displayName": "CAR_BON",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NombreArmadura",
              "displayName": "NombreArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DefArmadura",
              "displayName": "DefArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "BonArmadura",
              "displayName": "BonArmadura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Arma",
              "displayName": "Arma",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Inventario",
              "displayName": "Inventario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "GameState",
              "displayName": "GameState",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "loggedIn",
              "displayName": "loggedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        40
      ],
      "id": "867b6997-a092-4d24-a4ae-c34bed213d95",
      "name": "Airtable8",
      "credentials": {
        "airtableTokenApi": {
          "id": "CXxjlNnZ1BOkUVgy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82df4e38-1635-4cde-a1f6-f0949a19cd9b",
              "leftValue": "={{ $json.UserID }}",
              "rightValue": "={{ $('Basic LLM Chain').item.json.output.userID }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -260
      ],
      "id": "bf94dfff-f9d5-44d1-aec4-8ad4204c0034",
      "name": "If5",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Airtable4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable5": {
      "main": [
        []
      ]
    },
    "AI Agent2": {
      "main": [
        []
      ]
    },
    "Window Buffer Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dado20": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable6": {
      "main": [
        [
          {
            "node": "Airtable7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable8": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33c54721-27b5-41ca-8ef1-0c6add338ca1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "GC7wiveih95aYSn0",
  "tags": []
}